@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add A Film";
}

@model MovieCollection.Models.Movie

    
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-10">
                <h5><b>I want your movie suggestions!</b></h5>
                <br />
                <form asp-action="EnterFilm" method="post">
                    <label asp-for="Category">Category:</label>
                    <br />
                    <input asp-for="Category" />
                    <br />
                    <label asp-for="Title">Title:</label>
                    <br />
                    <input asp-for="Title" />
                    <br />
                    <label asp-for="Year">Year:</label>
                    <br />
                    <input asp-for="Year" />
                    <br />
                    <label asp-for="Director">Director:</label>
                    <br />
                    <input asp-for="Director" />
                    <br />
                    <label asp-for="Rating">Rating:</label>
                    <br />
                    <select asp-for="Rating">
                        <option value="G">G</option>
                        <option value="PG">PG</option>
                        <option value="PG-13">PG-13</option>
                        <option value="R">R</option>
                        <option value="NR">NR</option>
                        <option value="UR">UR</option>
                        <option value="TV-PG">TV-PG</option>
                        <option value="TV-14">TV-14</option>
                        <option value="TV-Y7">TV-Y7</option>
                    </select>
                    <br />
                    <label asp-for="Edited">Edited:</label>
                    <br />
                    <select asp-for="Edited">
                        <option value=Null>Select</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                    <br />
                    <label asp-for="Lent_to">Lent To:</label>
                    <br />
                    <input asp-for="Lent_to" />
                    <br />
                    <label asp-for="Notes">Notes:</label>
                    <br />
                    <input asp-for="Notes" maxlength="25" />
                    <br />
                    <br />
                    <button type="submit" class="btn btn-secondary btn-sm">Submit Film</button>
                    <div asp-validation-summary="All"></div>
                </form>
            </div>
            <div class="col">
            </div>
        </div>
    </div>

    