@{
    ViewData["Title"] = "Hilton Colleciton";
}

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-10">
            <h5><b>Welcome to my website</b></h5>
            <br />
            <p>Thank you for your visit. Pou will find links to my podcasts and other interests, you will also see a catalog of all the movies I have, feel free to edit or suggest new films so that I may know what it is that is hot to watch right now!</p>
        </div>
        <div class="col">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-7">
            <br />
            <img src="JoelHilton.jpg" class="card shadow">
        </div>
        <div class="col">
        </div>
    </div>
</div>

